<form action="/login" method="post">

    <div class="row">
        <div class="col-12 center"><h4 id="logMessage" class={{#if login_Message}}{{login_Message}}{{else}}hide{{/if}}>{{translation.IncorrectUsernameorPassword}}</h4></div>
    </div>

    <div class="row">
        <div class="col-6 right"><label for="username">{{translation.Username}}:</label></div>
        <div class="col-6"><input class="txtBox" type="text" name="username" value="{{username}}"></div>
    </div>

    <div class="row">
        <div class="col-6 right"><label for="pwd">{{translation.Password}}:</label></div>
        <div class="col-6"><input class="txtBox" type="password" name="password" value="{{password}}"></div>
    </div>

    <div class="row">
        <div class="col-6 right">
            <button class="btn" type="submit" name="login" value="true">{{translation.Login}}</button>
        </div>
        
        <div class="col-6 left">
            <button class="btn" type="submit" name="back" value="true">{{translation.Back}}</button>
        </div>
    </div>
    </div>
</form>